# requirements.txt

# Core dependencies
click==7.1.2
pylint==2.12.2
# argparse is part of the Python standard library, so it doesn't need to be listed here

# Testing dependencies
pytest==6.2.2
behave==1.2.6

# Documentation dependencies
Sphinx==3.5.3
